langchain

langgraph

langchain_community
langchain-oci
langchain-google-genai
google-generativeai

langchain-huggingface

dotenv
streamlit
langgraph-checkpoint-sqlite

#for duckduckgo search
ddgs

# for mcp server
langchain_mcp_adapters
aiosqlite==0.20.0